<div class="log">
  <%= render :partial => "shared/log" %>
  <%= link_to "Full Game History", game_log_entries_path(@game) %>
</div>
<h1>It is <%= @game.current_country.name %>’s turn</h1>
<% @game.investors.each do |investor| %>
  <div class="investor">
    <%= investor.user.username %> has <%= investor.money %> monies.
    <% if investor.has_investor_card? %>
      <div>^ HAS THE INVESTOR CARD</div>
    <% end %>
  </div>
<% end %>
You are <%= @current_investor.user.username %>.
<div class="map-display">
  <div class="row map">
    <%= render :partial => "svg/board", locals: { factories: @factories, pieces: @pieces, regions: nil, game: nil, turn: nil, import_count: nil, origin_region: nil, flags: @flags, investor_id: @current_investor.id } %>
    <%= render "shared/power_track", locals: { player_levels: @player_levels } %>
  </div>
  <div class="row">
    <%= render "shared/scoring_track" %>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 offset-lg-3 col-xs-12 your-countries card">
    <strong class='header'>You control the governments of these countries</strong>
    <% @owned_countries.each do |country| %>
      <span class="row country">
        <span><%= render :partial => "svg/" + country.name + "_flag" %></span>
        <span>
          <% if country == @game.current_country %>
            <strong><%= country.money %> million - <%= country.name %>'s turn</strong>
          <% else %>
            <%= country.money %> million - <%= country.name %>
          <% end %>
        </span>
        <span class="meeple"><%= render :partial => "svg/" + country.name + "_meeple" %></span>
      </span>
    <% end %>
  </div>
</div>
<% if @game.current_country.owner.user == current_user %>
  <%= render :partial => "svg/rondel", locals: { game: @game.id, investor_id: @current_investor.id, steps: @steps, country_steps: @country_steps } %>
<% else %>
  <div>It is <%= @game.current_country.name %>'s turn and you ain't <%= @game.current_country.name %>!</div>
  <%= render :partial => "svg/rondel", locals: { game: @game.id, investor_id: @current_investor.id, steps: [], country_steps: @country_steps } %>
<% end %>
<b>You own the following bonds:</b>
<div class="bonds">
  <% @current_investor.bonds.each do |bond| %>
    <div class="bond">
      <div class="country-name">
        <%= bond.country.name %>
      </div>
      <div class="price">
        Price: <%= bond.price %>
      </div>
      <div class="interest">
        Interest Rate: <%= bond.interest %>
      </div>
    </div>
  <% end %>
</div>
