<!DOCTYPE html>
<html>
  <head>
    <title>Imperial</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  </head>

  <body>
  <% unless current_user %>
    <div class="background">
  <% else %>
    <div id="imperial" data-current-user-id=<%= current_user.id %>>
  <% end %>
      <%= render 'shared/header' %>
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
